* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    font: Inter;
}

main {
    height: 66.5vh;
    background-color: #FFCD9E;
    display: flex;
    justify-content: center;
}

#left {
    display: flex;
    width: 49%;
    flex-direction: row-reverse;

}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-right: 0;
    margin-left: 60px;
    width: 85%;
}

#title {
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
}

#para {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1.5rem;
}

#bold_line {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#input_data {
    display: flex;
    /* margin-top: 15px; */
}

input {
    width: 17rem;
    height: 40px;

    border-radius: 8px;
    border: 2px solid black;
    font: Inter;

}

input::placeholder{
    padding-left: 1rem;
}

button {
    margin-left: 0.5rem;
    width: 17rem;
    height: 44px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #282828;
    color: white;
}

#extra_content{
    color: white;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
}


#right {
    display: flex;
    width: 49%;
    justify-content: center;
}








footer {
    height: 33.5vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

#footer-left{
    width: 40%;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    line-height: 1.5rem;
}
#footer-right{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.to_the_right{
    text-align: right;
}